certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
Flask==1.1.2
Flask-Caching==1.10.1
idna==2.10
isort==5.8.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
redis==3.5.3
requests==2.25.1
urllib3==1.26.5
Werkzeug==2.0.1
